body{
   background-color: lightblue;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 0;
}

button
{
    
    background-color:#ffeba7;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
}
input{
    border-radius: 5px;
    margin-top:3%;
    height:25px;
    width:170px ;
    border-color: black;
    border: black;
   padding: 10px;
}

.main{
    height: 250px;
    width: 250px;
    margin: 200px auto;
    background-color:rgb(240, 163, 21);
    border-radius: 10px;
    padding: 100px;
}
button:hover{
    cursor:pointer;
}
#result{
    color: rgba(255, 0, 0, 0.575);
    margin-top: 30px;
    font-size :34px
    
}